<!-- Page Header-->
<div class="page-header">
    <h4 class="page-title fs-25 fw-500"><b>Courses</b></h4>
</div>
<!-- /Page Header-->

<div class="row">
    @foreach (var item in Model)
    {


        if (item.Score < 70)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <a href="~/wwwroot/assets/pdf/course.pdf" class="text-dark fs-16" download>
                            <div class="row">
                                <div class="col-10">
                                    <img src="/wwwroot/assets/images/ibmath-course/Group 446.png" alt="" class="me-2 course-img">
                                    <span class="text-dark fs-16">@item.Course_name</span>
                                </div>
                                <div class="col-2 text-center justify-content-center align-self-center">
                                    <i class="fa fa-download"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }

     }
    </div>

<div class="row">
    <div class="col-md-12 mb-3">
        <h4 class="page-title fs-25 fw-500"><b>Marks Obtained</b></h4>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-4 right">
            <div class="@(item.Score < 70  ? "alert alert-danger" : "alert alert-success" )" style="">
                <h4>@item.Course_name : </h4> <h2>@item.Score</h2>
            </div>
        </div>
    }
</div>