
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_FrontMaster1.cshtml";
}

<div class="row row-cards mt-3">
    <div class="card border-radius15">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-xl-6  justify-content-center align-self-center">
                    <div class="row">
                        <h1 class="fw-bold fs-48">Welcome To IB Math</h1>
                        <div class="col-sm-12 col-lg-6 col-xl-6 text-center d-block d-lg-none justify-content-center align-self-center">
                            <img src="/wwwroot/assets/images/banners/banner1.png">
                        </div>
                        <P class="mt-5">
                            Majority have suffered alteration in some form, by injected humour
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to as necessary All the Lorem Ipsum generators on the Internet tend to repeat

                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to as necessary All the Lorem Ipsum generators on the Internet tend to repeat
                        </P>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 col-xl-6 text-center d-none d-lg-block justify-content-center align-self-center">
                    <img src="/wwwroot/assets/images/banners/banner1.png">
                </div>

                <!-- About -->
                <div class="col-sm-12 col-lg-6 col-xl-6 mt-5 text-center">
                    <img src="/wwwroot/assets/images/banners/About.png">
                </div>
                <div class="col-sm-12 col-lg-6 col-xl-6 mt-5 justify-content-center align-self-center">
                    <div class="row">
                        <P>
                            Majority have suffered alteration in some form, by injected humour
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to as necessary All the Lorem Ipsum generators on the Internet tend to repeat

                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to as necessary All the Lorem Ipsum generators on the Internet tend to repeat
                        </P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


