<!doctype html>
<html lang="en">

<head>
    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Favicon -->
    <link rel="icon" href="https://spruko.com/demo/edomi/Edomi/assets/images/brand/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="https://spruko.com/demo/edomi/Edomi/assets/images/brand/favicon.ico" />

    <!-- Title -->
    <title>IB Math</title>

    <!-- Bootstrap css -->
    <link href="~/wwwroot/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link href="~/wwwroot/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Dashboard css -->
    <link href="~/wwwroot/assets/css/style.css" rel="stylesheet" />
    <link href="~/wwwroot/assets/css/admin-custom.css" rel="stylesheet" />

    <!-- c3.js Charts Plugin -->
    <link href="~/wwwroot/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />

    <!---Font icons-->
    <link href="~/wwwroot/assets/css/icons.css" rel="stylesheet" />

    <!--Select2 css -->
    <link href="~/wwwroot/assets/plugins/select2/select2.css" rel="stylesheet" />

    <!-- Color Skin css -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/wwwroot/assets/color-skins/color.css" />

</head>

<body class="construction-image">
    <!--Loader-->
    <div id="global-loader">
        <img src="https://spruko.com/demo/edomi/Edomi/assets/images/loader.svg" class="loader-img" alt="">
    </div>
    <!--/Loader-->

    @RenderBody()

    <!-- JQuery js-->
    <script src="~/wwwroot/assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap js -->
    <script src="~/wwwroot/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/wwwroot/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--JQuery Sparkline Js-->
    <script src="~/wwwroot/assets/js/jquery.sparkline.min.js"></script>

    <!-- Circle Progress Js-->
    <script src="~/wwwroot/assets/js/circle-progress.min.js"></script>

    <!-- Star Rating Js-->
    <script src="~/wwwroot/assets/plugins/jquery-bar-rating/jquery.barrating.js"></script>
    <script src="~/wwwroot/assets/plugins/jquery-bar-rating/js/rating.js"></script>

    <!-- Custom scroll bar Js-->
    <script src="~/wwwroot/assets/plugins/pscrollbar/pscrollbar.js"></script>

    <!-- Fullside-menu Js-->
    <script src="~/wwwroot/assets/plugins/sidemenu/sidemenu.js"></script>

    <!--Select2 js -->
    <script src="~/wwwroot/assets/plugins/select2/select2.full.min.js"></script>
    <script src="~/wwwroot/assets/js/select2.js"></script>

    <!--Counters -->
    <script src="~/wwwroot/assets/plugins/counters/counterup.min.js"></script>
    <script src="~/wwwroot/assets/plugins/counters/waypoints.min.js"></script>

    <!-- Custom Js-->
    <script src="~/wwwroot/assets/js/admin-custom.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>


</html>