@{
    ViewBag.Title = "Diagnostic Test";
    Layout = "~/Views/Shared/_FrontMaster1.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xl-7 col-md-12 col-md-12 d-block mx-auto">
            <!--Page-Header-->
            <div class="page-header">
                <h4 class="page-title">Diagnostic Test</h4>
            </div>
            <!--/Page-Header-->
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="row">
                                    <h1 class="fw-400 fs-25">About the test</h1>
                                    <P class="mt-3">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                        It has survived not only five centuries, but also the leap into electronic typesetting,
                                        remaining essentially unchanged.
                                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </P>
                                </div>
                            </div>
                        </div>
                        <!-- progress bar  -->
                        <div class="row mt-5">
                            <div class="card bg-color">
                                <div class="card-body row">
                                    @*<div class="col-md-4">
                                        <div>
                                            <div class="mx-auto chart-circle chart-circle-xs1"
                                                 data-value="0.86" data-thickness="10" data-color=" #9D8FF2">
                                                <div class="chart-circle-value fs-14 text-white">25%</div>
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="col-md-12">
                                        <p class="fs-30 mt-5  text-white">Start the test<a href="/DiagnosticTests/DiagnosticTests_mcqtest" class="angle fa fa-angle-right text-white float-end mt-2 "></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>